
*.xcworkspacedata

*.xcuserstate

*.xcbkptlist

*.xcscheme

Example Project/CHFlingingViewController.xcodeproj/xcuserdata/developer.xcuserdatad/xcschemes/xcschememanagement.plist

Example Project/CHFlingingViewController.xcodeproj/project.xcworkspace/xcshareddata/CHFlingingViewController.xccheckout
